<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Botonera Warcraft</title>
    <link rel="icon" href="../img/icons/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <main class="container">
        <img src="../img/icons/botoneraLogo.png" alt="Logo Botonera" class="logoBotonera" />

        <p class="texto">
            Esta app esta basada en la botonera creada por ZardGames (que quedo desactualizada), en agradecimiento al
            grupo "Enfermitos Por El Warcraft" por tantos memes de Warcraft en estos años.
        </p>
        <i class="firma">-Morkros</i>

        <div class="gridCredito">
            <button class="botonCredito">
                Enfermitos
                <img src="../img/icons/facebookIcon.png" alt="Asociación De Enfermitos Por El Warcraft" width="25"
                    height="25">
            </button>
            <button class="botonCredito">
                Morkros
                <img src="../img/icons/facebookIcon.png" alt="Perfil de Morkros" width="25"
                    height="25">
            </button>
        </div>

        <button class="botonWarcraft botonSecundario"
            onclick="viewChange('../index', '../sounds/interface/mouseClick.wav')">Volver</button>
    </main>
</body>
<script src="../js/menuMusic.js"></script>
<script src="../js/functions.js"></script>

</html>